* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#noidung {
    background-color:white;
    width: 60%;
    height: auto;
    margin: auto;
    padding: 20px 30px 30px 20px;
}
p#text-1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
p#text-2 {
    text-align: center;
}
h1#text-3 {
    text-align: center;
}
p#text-4 {
    line-height: 200%;
}
#noidung1 {
    line-height: 200%;
}
#noidung2 {
    margin-right: 15%;
    text-align: right;
}
#noidung2 {
}
