body {
    background: #e6e8ff
}   

#Content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    max-width: 100%;
}

    #Content div {
    }

#Header {
    text-align: center;
    background: #34465c;
    grid-column: 1 / 13;
    grid-column-gap: 10px;
}

#Menu ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style-type: none;
}

#Menu ul li a:link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
#Body-part {
    margin-left: 3cm;
    margin-right: 3cm;
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
#Body-part a:link {
    color: black;
    font-size: 16px;
    
    text-decoration: none;
}
#Main-post {
    background-color: red;
    grid-column: 1 / 13;
    margin-left: 3cm;
    margin-right: 3cm;
}
#Main-post-right {
    grid-column: 8 / 13;
    grid-row: 3 / 4;
    background-color: white;
    margin-right: 3cm;
    padding: 30px 15px 15px 15px;
}
#Main-post-left {
    background-color: white;
    padding: 0px 15px 15px 15px;
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    margin-left: 3cm;
}
#Footer {
}
#info {
    display: flex;
}
#text {
    margin: 15px;
}
#Related-item ul li a:link {
    text-decoration: none;
    line-height: 2;
}
#Related-item ul li {
    list-style-type: none;
}
#Header-4 {
    text-transform: uppercase;
    line-height: 2;
}
#Tag ul li {
    display: inline-block;
    list-style-type: none;
    background-color: gray;
    border: 1px solid #aaa;
}
#Tag ul li a:link {
    text-decoration: none;
    color: black;
}