*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    height: 842px;
}
#container {
    background-color: white;
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 20px 50px 30px 50px ;
}
#header {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
#header-1 {
    text-align: center;
}
#content {
    line-height: 2;
}
#footer {
    line-height: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px, auto;
}
#footer-right {
    text-align: center;
}